/**
 * Unagi - Admin Styles
 */
.unagi-notifications-count {

    display: inline-block !important;
    vertical-align: top !important;
    box-sizing: border-box !important;
    margin: 7px 0 0 2px !important;
    padding: 0 5px !important;
    min-width: 18px !important;
    height: 18px !important;
    border-radius: 9px !important;
    background-color: #ca4a1f !important;
    color: #fff !important;
    font-size: 11px !important;
    line-height: 1.6 !important;
    text-align: center !important;
}
